#titulo {
    background-color: aquamarine;
    font-size: 2.8em;
    color: blueviolet;
    width: 75vw;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#titulo:hover {
    background-color: blue;
    color: aquamarine;
}

#titulo2 {
    font-size: 1.8em;
    background-color: bisque;
    width: 95vw;
    margin:auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.foto {
    width: 50em;
    border: 3px solid black;
    margin:auto;
    
} 
  

.foto:hover {
    width: 70em;

}

.titulo3 {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    
}

.articulo {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid rgb(133, 117, 117);
    background-color: aliceblue;
    padding: 1em;
    width: 50vw;

    
}

.articulo:hover {
    background-color: black;
    color: aliceblue;
}

.parrafo {
    margin: 0.5em 0px 0.5em 0px
}

.flex {
    display: flex;
    padding: 3em;
    background-color: rgb(178, 224, 208);
    justify-content: space-around;
    
}



.footer {
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
    color: darkblue;
    width: 95;
    margin: auto;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 5em 0px;

}

.link:hover {
    background-color: yellow;
}